* {
    margin: 0;
    padding: 0;
  }

:root {
    --orange: #BF4904;
    --bacground: #FFFEFC;
    --black: #060C0A;
    --lightorange: #FFF6E5;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
    color: #473C4D;
}

a:hover {
    color: #000;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
}

/* Navis */
ul {
    margin-top: 20px;
}

li a {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.5rem;
}

li a:hover {
    color: #000;
    font-weight: 600;
}

/* Report */

.report-bolk {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 60px;
}

.links {
    font-size: 1.3rem;
    font-weight: 800;
    color: #705E78;
}

.github {
    margin-bottom: 30px; 
}

.bottom {
    margin-bottom: 200px;
}